@import "tailwindcss";

:root {
    --app-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #e3350d;
    --secondary-color: #4caf50;
    --background-color: #f5f5f5;
    --card-color: #ffffff;
    --text-color: #333333;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --owned-color: #4caf50;
    --unowned-color: #e0e0e0;
}